@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
}
/* Header Part  with responsiveness*/
.ul-part{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.each-ul{
  text-decoration: none;
  color:whitesmoke;
  margin-left: 25px;
}
.each-ul:hover{
  color:rgb(167, 164, 160)
}
.img-logo{
  height: 28px;
  padding: 10px;
}
.btn{
  border: 1px solid white;
  border-radius: 6px;
}
@media screen and (min-width: 500px) {
  * {
    font-size: 14px;
  }
  .each-ul{
    min-width: 100px;
  }
  .img-logo{
    height: 25px;
  }
}


